
<h6>Produtos</h6>

<button class="open-button" (click)="openForm()">Adicionar</button>

<div class="form-popup" id="myForm">
  <form class="form-container">
    <h1>Produto</h1>

    <label for="nome"><b>Nome</b></label>
    <input type="text" placeholder="Nome" name="nome" required #produtoName>

    <label for="tipo"><b>Tipo</b></label>
    <select class="form-control" id="sel1" required #produtoTipo>
      <option>Alimento</option>
      <option>Casa</option>
      <option>Ferramenta</option>
      <option>Limpeza</option>
    </select>

    <button (click)="insereProduto(produtoName.value, produtoTipo.value); produtoName.value=''" class="btn">Adicionar</button>
    <button class="btn cancel" (click)="closeForm()">Cancelar</button>
  </form>
</div>


<div id="myBtnContainer">
  <button class="btn" (click)="filtro('Tudo')"> Tudo</button>
  <button class="btn" (click)="filtro('Alimento')"> Alimentos</button>
  <button class="btn" (click)="filtro('Casa')"> Casa</button>
  <button class="btn" (click)="filtro('Ferramenta')"> Ferramentas</button>
  <button class="btn" (click)="filtro('Limpeza')"> Limpeza</button>
</div>

<h6 style="margin-left: 15px; margin-top: 5px;">{{ filtroAtual }}</h6>

<div *ngFor="let produto of produtos">
  <div class="col-sm-3 coluna"> {{ produto?.nome }} <span (click)="delete(produto)" class="delete">x</span> </div>
</div>

