
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.app {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.menu {
    margin-left: 5%;
    width: 90%;
}

.conteudo {
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
}
