<h6>Lista de Compras</h6>

<table>
  <thead>
    <th style="width: 65%">Nome</th>
    <th style="width: 30%">Data</th>
    <th style="width: 5%">Apaga</th>
  </thead>
  <tbody>
    <tr *ngFor="let lista of listas; let i = index" [class.zebra]="isPar(i)" >
      <td (click)="verProdutos(lista)" style="width: 65%">
        {{lista?.nome}}
      </td>
      <td (click)="verProdutos(lista)" style="width: 30%">
        {{ lista?.data | date:"dd/MM/yyyy" }}
      </td>
      <td (click)="delete(lista)" style="width: 5%">
        X
      </td>
    </tr>
  </tbody>
</table>
